<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grid_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,44},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>plus_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,88},{42,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>random.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>rect_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>thumbnails.png</string>
            <key>size</key>
            <string>{144,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad682226e60065589165d6bfa318f04d:1/1$</string>
            <key>textureFileName</key>
            <string>thumbnails.png</string>
        </dict>
    </dict>
</plist>
