<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Untitled 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,106},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ui_button_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{102,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>ui_button_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,104},{86,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>ui_button_tiny.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>ui_monster_hp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,65},{60,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,13}}</string>
                <key>sourceSize</key>
                <string>{60,13}</string>
            </dict>
            <key>ui_monster_lifttime_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,190},{60,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,13}}</string>
                <key>sourceSize</key>
                <string>{60,13}</string>
            </dict>
            <key>ui_rect_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>ui_sushilayer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{292,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28c5b41563ce27917246cf120a74643d:1/1$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
